.bg_home {
  background: url("./imgs/bg_home.JPG") no-repeat center bottom/cover;
    
    max-width: 100vw;
    height: 760px;
    margin-top: -100px;
    z-index: 3;
}
nav{
    position: relative;
    z-index: 100;
}
.home-banner {
    padding-top: 100px;
}

.text-big {
    font-size: 5vw;
    font-weight: 900;
}

.color-yellow {
    color: rgb(255, 196, 0);
}

.small-1{
    font-size: 14.5px !important;
}
.small-g{
    font-size: 14px !important;
}
.text-at-home{
    font-size: 2.5vw;
}

.info{
  background-color: black;
padding: 100px;
}
.card-img-top{
    width: 60%;
    display: block;
    margin:auto;
}


.swiper-wrapper{
    width: 100%;
   
  }
  .swiper-pagination-bullet{
    height: 4px;
    width: 29px;
    border-radius: 2px;
  }
#probiotic{
    width: 65%;
}  
#dynamic-way{
    width: 80%;
}
/* #fish_oil{
    width: 50%;
} */
#pro-whey{
    width: 65%;
}

#lean_shake{
    width: 100%;
}
#burn{
    width: 48%;
}















































/* contacting-info section */


.contacting-info{
    padding: 50px 100px;
    background-color: #d80c0c;
    display: flex;
    gap: 20px;
  }
  
  .contacting-info-containers{
    padding: 20px;
  }
  
  
  .contacting-info-containers-logo{
    flex-basis: 25%;
  }
  .contacting-info-containers-questions{
    flex-basis: 30%;
  }
  .contacting-info-containers-recent-posts{
    flex-basis: 30%;
  }
  
  .contacting-info-containers-explore{
    flex-basis: 15%;
  }
  
  
  .lines-img{width: 49px;
    height: 50px;
    border-radius: 7px;
    margin-right: 10px;
  }
  .pic1{
    background: url(./imgs/tri_flex.jpg) no-repeat center center/cover;
   
  }
  .pic2{
    background: url(./imgs/dynamic_way.jpg) no-repeat center center/cover;
   
  }
  .pic3{
    background: url(./imgs/pro_whey.jpg) no-repeat center center/cover;
   
  }
  .lines-r{
    display: flex;
  }
  
  .logo-link{
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 20px;
    
  }
  .social-icon{
    display: flex;
  }
  
  .circle-around-icons1{
    padding: 0.4rem 0.55rem;
    height: 33px;
    width: 33px;
    background-color: white;
    border-radius: 50%;
    margin: 25px 5px 0px 5px;
    font-size: 1rem;
    color: #d80c0c;
    transition: all 0.5s;
    cursor: pointer;
  }
  .lines a{
    transition: all 0.3s;
  }
  
  .lines a:hover{
    color: #1eb2a6;
  }
  
  .sst{
    transition: all 0.3s;
  }
  .lines-des a:hover .sst{
    color: #1eb2a6;
  }
  
  
  
  .heading-contacting-info{
    margin-bottom: 50px;
  }
  
  .lines{
    padding: 10px 0px;
  }
  .lines a>i{
    font-size: 10px;
  }
  
  .greenlink{
    font-size: 0.7rem;
  
  }
  .greenlink i{
    padding: 5px 5px 10px 2px;
  }
  

footer{
    padding: 10px 50px;
    background-color: #d80c0c;
  }
  
/* media quiries */
  
@media (max-width:1090px) {
    
  .contacting-info{
    padding: 50px 20px;
  }
}


@media (max-width:990px){
  
    /* contact */
  
    .contacting-info{
      padding: 50px 100px;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  .contacting-info-containers-logo{
    flex-basis: 50%;
  }
  .contacting-info-containers-questions{
    flex-basis: 40%;
  }
  .contacting-info-containers-recent-posts{
    flex-basis: 50%;
  }
  
  .contacting-info-containers-explore{
    flex-basis: 25%;
  }
    
  }



@media (max-width:890px){
    
  .contacting-info{
    padding: 50px 0px ;
  }
  
  .contacting-info-containers-questions{
    flex-basis: 45%;
  }
}


@media (max-width:590px){


    /* header */

    .bg_home {
        height: 660px;
        margin-top: -100px;
        z-index: 3;
    }

    .text-big{
        font-size: 1.9rem;
    }
    .text-at-home{
        font-size: 0.6rem;
    }


    /* contact */
    .contacting-info{
        flex-direction: column;
        
        padding: 30px 100px;
      }
      
    .contacting-info-containers-logo{
      flex-basis: 60vw;
    }
    .contacting-info-containers-questions{
      flex-basis: 60vw;
      padding-bottom: 0px;
    }
    .contacting-info-containers-recent-posts{
      flex-basis: 60vw;
    }
    
    .contacting-info-containers-explore{
      flex-basis: 60vw;
    }
    
    
    
}



@media (max-width:550px){
    
  .contacting-info{
      padding: 30px 20px ;
    }
  }
  


@media (max-width:430px){
    
.contacting-info{
    padding: 30px 30px 0px 30px;
  }
}







  
  /* universal */


.secondary-b{
  font-size:1.6rem;
margin-bottom: 10px;
line-height: 1.5;
font-weight: 600;
}
.bottom{
    margin-bottom: 15px;
}
.primary{
    
    font-size: 2.3rem;
    font-weight: bold;
}

.secondary{
    font-size: 1.3rem;
    font-weight: 600;
}
.center{
    text-align: center;
}
.white{
    color: white;
}
.green{
    color: white;
}
.smoky{
  color: rgba(0, 0, 0, 0.388);
 
}

.smokysmall{
  color: rgba(0, 0, 0, 0.388);
  
  font-size: 0.8rem;
}
.smokystd{
  color: rgba(0, 0, 0, 0.388);
  font-size: 1rem;
}
.link{
  text-decoration: none;

}

.single-primary-lrg{
  font-size: 4rem;
  font-weight: 500;

}

.whitestd {
    color: rgba(255, 255, 255, 0.714);
    font-size: 1rem;
    margin: 5px 0px;
  }
  .active{
    color: #1eb2a6;
  }
  .capital{
    text-transform: uppercase;
  }
  .capitalize{
    text-transform: capitalize;
  }

  #smoky{
    color: rgba(0, 0, 0, 0.388);
  }
  .small{
    font-size: 0.7rem;
  }

.now-white{
    color: white;
}
.swiper-pagination-bullet{
  height: 4px;
  width: 29px;
  border-radius: 2px;
}

.fa-user-graduate{
  color: white;
}
.baricon{
  color: white;
  font-size: 1.4rem;
  /* float: right; */
  display: none;
}
#bar{
  display: none;
}



